# Application
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3002
FRONTEND_URLS=hhttp://localhost:3002,http://localhost:3003,http://localhost:3004

# Database
MONGODB_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=

# Cloudinary ?
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Resend (email)
RESEND_API_KEY=

# Rate Limiting
THROTTLE_TTL=
THROTTLE_LIMIT=

# CORS
CORS_ORIGIN=

# Logging
LOG_LEVEL=

# Gmail SMTP for Contact Message
EMAIL_USER=
EMAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=

# Admin notification
ADMIN_EMAIL=